$color--black: #333;
$color--gray: #eee;
$color--white: #fafafa;
$color--purple: #524375;

$color--warning: #ff763c;
$color--error: #fe4a49;
$color--required: #fe4a49;

$color--event-ico: #ff5757;
$color--event-hackathon: #ff8f57;
$color--event-summit: #ffd500;
$color--event-crowdsale: #00edb1;
$color--event-conference: #00b8ff;
$color--event-meetup: #3de5ff;
$color--event-release: #4f64ff;
$color--event-workshop: #bd5eff;

$color--dapp-live: #b6fc94;
$color--dapp-live-light: #e2ffd4;
$color--dapp-beta: #ffe952;
$color--dapp-beta-light: #fff4ab;
$color--dapp-stealth: #F5F5F5;
$color--dapp-stealth-light: #FAFAFA;
$color--dapp-prototype: #ffba4a;
$color--dapp-prototype-light: #ffe1b0;
$color--dapp-wip: #8ac3ff;
$color--dapp-wip-light: #c9e3ff;
$color--dapp-concept: #b391ff;
$color--dapp-concept-light: #d6c4ff;
$color--dapp-unknown: #F5F5F5;
$color--dapp-unknown-light: #FAFAFA;
$color--dapp-abandoned: #F5F5F5;
$color--dapp-abandoned-light: #FAFAFA;

$color--negative: #ff005a; 
$color--neutral: #ffb400;
$color--positive: #1db200;

$gradient--dapp-beta: linear-gradient(229deg, #fff074 0%, #e4fdc1 100%);
$gradient--dapp-concept: linear-gradient(229deg, #b391ff 0%, #c498f7 45%, #fcc0fa 100%);
$gradient--dapp-live: linear-gradient(229deg, #acff84 0%, #98e3ff 100%);
$gradient--dapp-prototype: linear-gradient(229deg, #ffd27e 0%, #ffedaf 100%);
$gradient--dapp-wip: linear-gradient(229deg, #8ac3ff 0%, #97c3ff 20%, #84f7fc 100%);

$gradient--main-1: linear-gradient(to right, #b391ff 0%, #8ac3ff 100%);
$gradient--main-2: linear-gradient(107deg, #b391ff 0%, #8ac3ff 49%, #4ed671 100%);

@mixin dapp-background-gradients {
  &.-beta {
    background-image: $gradient--dapp-beta;    
  }
  &.-concept {
    background-image: $gradient--dapp-concept;    
  }
  &.-live {
    background-image: $gradient--dapp-live;
  }
  &.-prototype {
    background-image: $gradient--dapp-prototype;
  }
  &.-wip {
    background-image: $gradient--dapp-wip;
  }
  &.-stealth, &.-abandoned, &.-unknown {
    background: $color--white;
  }
}

@mixin dapp-background-colors {
  &.-beta {
    background: $color--dapp-beta;    
  }
  &.-concept {
    background: $color--dapp-concept;    
  }
  &.-live {
    background: $color--dapp-live;
  }
  &.-prototype {
    background: $color--dapp-prototype;
  }
  &.-wip {
    background: $color--dapp-wip;
  }
  &.-stealth, &.-abandoned, &.-unknown {
    background: $color--white;
  }
}

@mixin dapp-border-colors {
  &.-beta {
    border-color: $color--dapp-beta;    
  }
  &.-concept {
    border-color: $color--dapp-concept;    
  }
  &.-live {
    border-color: $color--dapp-live;
  }
  &.-prototype {
    border-color: $color--dapp-prototype;
  }
  &.-wip {
    border-color: $color--dapp-wip;
  }
  &.-stealth, &.-abandoned, &.-unknown {
    border-color: $color--white;
  }
}

@mixin dapp-text-colors {
  &.-beta {
    color: $color--dapp-beta;    
  }
  &.-concept {
    color: $color--dapp-concept;    
  }
  &.-live {
    color: $color--dapp-live;
  }
  &.-prototype {
    color: $color--dapp-prototype;
  }
  &.-wip {
    color: $color--dapp-wip;
  }
  &.-stealth, &.-abandoned, &.-unknown {
    color: $color--white;
  }
}

@mixin dapp-fill-colors {
  &.-beta {
    fill: $color--dapp-beta;    
  }
  &.-concept {
    fill: $color--dapp-concept;    
  }
  &.-live {
    fill: $color--dapp-live;
  }
  &.-prototype {
    fill: $color--dapp-prototype;
  }
  &.-wip {
    fill: $color--dapp-wip;
  }
  &.-stealth, &.-abandoned, &.-unknown {
    fill: $color--white;
  }
}
