// color names from http://chir.ag/projects/name-that-color/

$color--alabaster: #fafafa;
$color--anakiwa: #a1c9ff;
$color--bright-green: #67e600;
$color--burning-orange: #ff763c;
$color--dove-gray: #626262;
$color--gallery: #eee;
$color--golden-tainoi: #ffc662;
$color--gorse: #ffef41;
$color--koromiko: #ffac62;
$color--malibu: #83b8ff;
$color--mine-shaft: #333;
$color--paris-daisy: #fffa7a;
$color--perfume: #c1a7f3;
$color--portage: #ad88f3;
$color--screamin-green: #95ff61;
$color--tart-orange: #fe4a49;
$color--wild-sand: #f4f4f4;

$color--event-red: #ff5757;
$color--event-light-blue: #85e5ff;
$color--event-aquamarine: #9effdb;
$color--event-green: #eaff96;
$color--event-blue: #5ec5ff;
$color--event-orange: #ffcd8d;
