$color--black: #333;
$color--gray: #eee;
$color--white: #fafafa;
$color--purple: #524375;

$color--warning: #ff763c;
$color--error: #fe4a49;

$color--event-ico: #ff5757;
$color--event-hackathon: #ff8f57;
$color--event-summit: #ffd500;
$color--event-crowdsale: #00edb1;
$color--event-conference: #00b8ff;
$color--event-meetup: #3de5ff;
$color--event-release: #4f64ff;
$color--event-workshop: #bd5eff;

$color--dapp-live: #b6fc94;
$color--dapp-live-light: #e2ffd4;
$color--dapp-beta: #ffe952;
$color--dapp-beta-light: #fff4ab;
$color--dapp-stealth: #F5F5F5;
$color--dapp-stealth-light: #FAFAFA;
$color--dapp-prototype: #ffba4a;
$color--dapp-prototype-light: #ffe1b0;
$color--dapp-wip: #8ac3ff;
$color--dapp-wip-light: #c9e3ff;
$color--dapp-concept: #b391ff;
$color--dapp-concept-light: #d6c4ff;
$color--dapp-unknown: #F5F5F5;
$color--dapp-unknown-light: #FAFAFA;
$color--dapp-abandoned: #F5F5F5;
$color--dapp-abandoned-light: #FAFAFA;

$gradient--hero-1: linear-gradient(to right, #b391ff 0%, #8ac3ff 100%);
$gradient--hero-2: linear-gradient(107deg, #b391ff 0%, #8ac3ff 49%, #4ed671 100%);
