$margin--wrapper-narrow: 0px 10px;
$margin--wrapper-medium: 0px 22px;

// Handles main margin wrappers
@mixin margin-wrapper-main {
    margin: $margin--wrapper-narrow;
    @include tweakpoint('min-width', 640px) {
        margin: $margin--wrapper-medium
    }
    @include tweakpoint('min-width', 2000px) {
        margin: 0 auto;
        width: calc(100% - 44px);
        max-width: 2000px;
    }
}
