@mixin title {
  @include font-display;
  font-weight: 400;  
}

@mixin title-1 {
  @include title;
}

@mixin title-2 {
  @include title;
  font-size: 2.25rem;
  margin-bottom: .75rem;
}

@mixin title-3 {
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 2.2rem;
  margin-bottom: .2rem;
  letter-spacing: -.5px;
}

@mixin font-display {
  font-family: 'Amsi Pro Cond SemiBold', 'Noto Sans SC', sans-serif;
  font-weight: 400;  
}

@mixin font-text {
  font-family: 'Overpass', 'Noto Sans SC', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-text-bold {
  font-family: 'Overpass', 'Noto Sans SC', sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-text-mono {
  font-family: 'Overpass Mono', 'Noto Sans SC', monospace;
  font-weight: 400
}

@mixin font-text-mono-bold {
  font-family: 'Overpass Mono', 'Noto Sans SC', monospace;
  font-weight: 700;
}
