html {
  box-sizing: border-box;
  background: $color--gray;
  font-size: 13px;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, input, textarea {
  font-family: 'Overpass', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  color: $color--black;
  letter-spacing: -.25px;
}

body {
  background-size: 100px 100px;
  height: 100%;
  &.--has-popup {
    overflow: hidden;
  }
}

:focus {
  outline: none;
}

input::placeholder {
  line-height: 1.7;
}

h1 {
  font-size: 20px;
  line-height: 1;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

em {
  font-style: normal;
  font-weight: 700;
}

a {
  color: $color--black;
  text-decoration: underline;
  cursor: pointer;
}

strong {
  font-weight: 700;
}

input[type=submit] {
  border-radius: 0;
}

button {
    background: none;
    border: 0;
    border-radius: 0;
    color: inherit;
    letter-spacing: -.25px;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
    &:hover {
      cursor: pointer;
    }
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

pre {
  margin: 0;
  background: $color--white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba($color--black, .05);
}

code {
  @include font-monospace;
  margin: 0;
  padding: 0;
}

#__nuxt, #__layout {
  height: 100%;
}

html, .wf-loading {
  visibility: hidden !important;
  opacity: 0;
}

.wf-active, .wf-inactive {
  visibility: visible !important;
  opacity: 1;
  transition: opacity 0.5s;
}
