html {
  box-sizing: border-box;
  background: $color--gallery;
  font-size: 13px;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, input, textarea {
  font-family: 'Overpass', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  color: $color--mine-shaft;
  letter-spacing: -.25px;
}

body {
  background: url('/images/bg.jpg') center center;
  background-size: 100px 100px;
  height: 100%;
  &.--has-popup {
    overflow: hidden;
  }
}

:focus {
  outline: none;
}

input::placeholder {
  line-height: 1.7;
}

h1, h2 {
  font-weight: 600;
}

h1, h2, h3, h4 {
  letter-spacing: -.5px;
}

h1 {
  font-size: 20px;
  line-height: 1;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: $color--mine-shaft;
  text-decoration: underline;
  cursor: pointer;
}

strong {
  font-weight: 700;
}

button {
    background: none;
    border: 0;
    border-radius: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#__nuxt {
  height: 100%;
}
