.--is-hidden {
  visibility: hidden;
  opacity: 0;
}

.--is-visible {
  visibility: visible;
  opacity: 1;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}

.fade-in-enter, .fade-in-leave-to {
  opacity: 0
}