@font-face {
    font-family: 'Amsi Pro Cond SemiBold';
    src: url('/fonts/amsi-pro-cond-semibold.eot');
    src: url('/fonts/amsi-pro-cond-semibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/amsi-pro-cond-semibold.woff2') format('woff2'),
         url('/fonts/amsi-pro-cond-semibold.woff') format('woff'),
         url('/fonts/amsi-pro-cond-semibold.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/overpass-light.eot');
    src: url('/fonts/overpass-light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/overpass-light.woff2') format('woff2'),
         url('/fonts/overpass-light.woff') format('woff'),
         url('/fonts/overpass-light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Overpass SemiBold';
    src: url('/fonts/overpass-semibold.eot');
    src: url('/fonts/overpass-semibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/overpass-semibold.woff2') format('woff2'),
         url('/fonts/overpass-semibold.woff') format('woff'),
         url('/fonts/overpass-semibold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('/fonts/overpass-mono-regular.eot');
    src: url('/fonts/overpass-mono-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/overpass-mono-regular.woff2') format('woff2'),
         url('/fonts/overpass-mono-regular.woff') format('woff'),
         url('/fonts/overpass-mono-regular.ttf') format('truetype');
    font-weight: 400;
}
