@mixin button {
  padding: 7px 15px;
  color: $color--gray;
  background: $color--black;
  box-shadow: 0 17px 70px rgba($color--black, 0.2);
  cursor: pointer;
  position: relative;
  border-radius: 4px;
  text-decoration: none;
  &:active {
    top: 1px;
  }
}

$color--black: #333;
$color--gray: #eee;
$color--white: #fafafa;
$color--purple: #524375;
$color--medium-purple: #bd5eff;
$color--light-purple: #b391ff;

$color--warning: #ff763c;
$color--error: #fe4a49;
$color--required: #fe4a49;

$color--dapp-live: #b6fc94;
$color--dapp-live-light: #e2ffd4;
$color--dapp-beta: #ffe952;
$color--dapp-beta-light: #fff4ab;
$color--dapp-stealth: #F5F5F5;
$color--dapp-stealth-light: #FAFAFA;
$color--dapp-prototype: #ffba4a;
$color--dapp-prototype-light: #ffe1b0;
$color--dapp-wip: #8ac3ff;
$color--dapp-wip-light: #c9e3ff;
$color--dapp-concept: #b391ff;
$color--dapp-concept-light: #d6c4ff;
$color--dapp-unknown: #F5F5F5;
$color--dapp-unknown-light: #FAFAFA;
$color--dapp-abandoned: #F5F5F5;
$color--dapp-abandoned-light: #FAFAFA;
$color--dapp-broken: #c1c1c1;
$color--dapp-broken-light: #c1c1c1;

//
$color--category-gambling: #FFAAC0;
$color--category-high-risk: #c1c1c1;
$color--category-games:#FFC8AA;
$color--category-exchanges: #D6F5FF;
$color--category-finance: #A0EBDE;
$color--category-wallet: #BDEBC8;
$color--category-development: #C4E7FF;
$color--category-media: #FFF6B7;
$color--category-security:#E9FFA7;
$color--category-property: #C9D4EB;
$color--category-storage: #C9D7FF;
$color--category-identity: #A3ACD6;
$color--category-governance: #DDEFCB;
$color--category-energy: #FFEEBF;
$color--category-insurance: #D7FAD5;
$color--category-health: #C8E2C6;
$color--category-social: #C7DAFF;
//

$color--negative: #ff005a; 
$color--neutral: #ffb400;
$color--positive: #1db200;

$gradient--main-1: linear-gradient(to right, #b391ff 0%, #8ac3ff 100%);
$gradient--main-2: linear-gradient(107deg, #b391ff 0%, #8ac3ff 49%, #4ed671 100%);

@mixin category-bg-colors {
  &.-gambling {
    background: $color--category-gambling;    
  }
  &.-high-risk {
    background: $color--category-high-risk;
  }
  &.-games {
    background: $color--category-games;    
  }
  &.-social {
    background: $color--category-social;    
  }
  &.-finance {
    background: $color--category-finance;    
  }
  &.-exchanges {
    background: $color--category-exchanges;    
  }
  &.-development {
    background: $color--category-development;    
  }
  &.-media {
    background: $color--category-media;    
  }
  &.-wallet {
    background: $color--category-wallet;    
  }
  &.-security {
    background: $color--category-security;    
  }
  &.-property {
    background: $color--category-property;    
  }
  &.-governance {
    background: $color--category-governance;    
  }
  &.-storage {
    background: $color--category-storage;    
  }
  &.-energy {
    background: $color--category-energy;    
  }
  &.-identity {
    background: $color--category-identity;    
  }
  &.-insurance {
    background: $color--category-insurance;    
  }
  &.-health {
    background: $color--category-health;    
  }
}

@mixin category-fill-colors {
  &.-gambling {
    fill: $color--category-gambling;    
  }
  &.-high-risk {
    fill: $color--category-high-risk;
  }
  &.-games {
    fill: $color--category-games;    
  }
  &.-social {
    fill: $color--category-social;    
  }
  &.-finance {
    fill: $color--category-finance;    
  }
  &.-exchanges {
    fill: $color--category-exchanges;    
  }
  &.-development {
    fill: $color--category-development;    
  }
  &.-media {
    fill: $color--category-media;    
  }
  &.-wallet {
    fill: $color--category-wallet;    
  }
  &.-security {
    fill: $color--category-security;    
  }
  &.-property {
    fill: $color--category-property;    
  }
  &.-governance {
    fill: $color--category-governance;    
  }
  &.-storage {
    fill: $color--category-storage;    
  }
  &.-energy {
    fill: $color--category-energy;    
  }
  &.-identity {
    fill: $color--category-identity;    
  }
  &.-insurance {
    fill: $color--category-insurance;    
  }
  &.-health {
    fill: $color--category-health;    
  }
}

@mixin category-border-colors {
  &.-gambling {
    border-color: $color--category-gambling;    
  }
  &.-high-risk {
    border-color: $color--category-high-risk;
  }
  &.-games {
    border-color: $color--category-games;    
  }
  &.-social {
    border-color: $color--category-social;    
  }
  &.-finance {
    border-color: $color--category-finance;    
  }
  &.-exchanges {
    border-color: $color--category-exchanges;    
  }
  &.-development {
    border-color: $color--category-development;    
  }
  &.-media {
    border-color: $color--category-media;    
  }
  &.-wallet {
    border-color: $color--category-wallet;    
  }
  &.-security {
    border-color: $color--category-security;    
  }
  &.-property {
    border-color: $color--category-property;    
  }
  &.-governance {
    border-color: $color--category-governance;    
  }
  &.-storage {
    border-color: $color--category-storage;    
  }
  &.-energy {
    border-color: $color--category-energy;    
  }
  &.-identity {
    border-color: $color--category-identity;    
  }
  &.-insurance {
    border-color: $color--category-insurance;    
  }
  &.-health {
    border-color: $color--category-health;    
  }
}

@mixin highlight {
  transition: background-color 1s ease-out;
  &.is-highlighted {
    background: lightyellow !important;
  }
}

@mixin form-input-text {
  border: none;
  background: rgba($color--white, .9);
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 8px;
  text-align: center;
}

// Handles media queries
@mixin tweakpoint($type, $size) {
  @media only screen and ($type: $size) {
    @content;
  }
}

$tweakpoint--default: 1000px;

@mixin title {
  @include font-display;
  font-weight: 400;  
}

@mixin title-1 {
  @include title;
}

@mixin title-2 {
  @include title;
  font-size: 2.25rem;
  margin-bottom: .75rem;
}

@mixin title-3 {
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 2.2rem;
  margin-bottom: .2rem;
  letter-spacing: -.5px;
}

@mixin font-display {
  font-family: 'Amsi Pro Cond SemiBold', 'Noto Sans SC', sans-serif;
  font-weight: 400;  
}

@mixin font-text {
  font-family: 'Overpass', 'Noto Sans SC', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-text-bold {
  font-family: 'Overpass', 'Noto Sans SC', sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-text-mono {
  font-family: 'Overpass Mono', 'Noto Sans SC', monospace;
  font-weight: 400
}

@mixin font-text-mono-bold {
  font-family: 'Overpass Mono', 'Noto Sans SC', monospace;
  font-weight: 700;
}

@mixin link {
  color: $color--medium-purple;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  transition: color 0.1s ease;
  &:hover {
    color: $color--purple;
  }
}

$margin--wrapper-narrow: 0px 10px;
$margin--wrapper-medium: 0px 22px;

// Handles main margin wrappers
@mixin margin-wrapper-main {
  margin: $margin--wrapper-narrow;
  @include tweakpoint('min-width', 640px) {
      margin: $margin--wrapper-medium
  }
  @include tweakpoint('min-width', 2000px) {
      margin: 0 auto;
      width: calc(100% - 44px);
      max-width: 2000px;
  }
}