.text-container {
  max-width: 700px;
  margin: 25px auto;
  padding: 0 15px;
  @include tweakpoint('min-width', 700px) {
    margin: 75px auto;
  }
  h2 {
    font-size: 1.35rem;
    margin-bottom: -.5rem;
    margin-top: 1.65rem;
  }
  p {
    font-size: 1.15rem;
    line-height: 1.35;
    max-width: 600px;
    &.intro {
      font-size: 1.4rem;
      line-height: 1.275;
      max-width: 700px;
    }
  }
  ul {
    margin: 1.25rem 2rem;
    li {
      margin: .25rem 0;
      list-style-type: square;
    }
  }
}

.title-1, .title-2 {
  font-family: 'Dharma-Gothic-Regular';
  letter-spacing: 0px;
  font-weight: 300;
}

.title-1 {
  text-transform: uppercase;
}

.title-2 {
  font-size: 2.25rem;
  margin-bottom: .75rem;
}
